name: Zentrale Logik
on:
  workflow_call:

jobs:
  test-job:
    runs-on: ubuntu-latest
    steps:
      - name: Code auschecken
        uses: actions/checkout@v4

      # Dieser Schritt installiert Java 21
      - name: Java 21 installieren
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - name: Info
        run: echo "Starte Maven Build für Java 21..."

      # Dieser Schritt führt deine Tests aus
      - name: Maven Test ausführen
        run: mvn test