name: Standard CI Tests

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Logik für Java (IntelliJ Projekte)
      - name: Run Java Tests
        if: hashFiles('pom.xml', 'build.gradle') != ''
        run: |
          echo "Java Projekt erkannt..."
          ./gradlew test || mvn test

      # Logik für PHP (PHPStorm Projekte)
      - name: Run PHP Tests
        if: hashFiles('composer.json') != ''
        run: |
          echo "PHP Projekt erkannt..."
          vendor/bin/phpunit